
.card-img{
    padding: 20px;
}
.card-title{
    color: rosybrown;
}
.primersalto{
    color: #6b6b6b;
    text-align: left;
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}